@page "/"
@using OhHttp.HttpCon

<h1>Hello, world!</h1>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />
<button class="btn btn-danger" @onclick="httpget">httpget</button>
<br/>
<span style="height:100%;">@httpgetresult</span>

@code{

    private string httpgetresult;
    private void httpget()
    {
        HttpContext hc = new HttpContext("https://www.iqiyi.com/v_l7ybhs58vc.html");
        httpgetresult = hc.HttpGet();
    }

}
